<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="0.0.1" package="com.acbo.educup" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<application android:label="EducUp.Android">
		<meta-data android:name="com.google.android.nearby.messages.API_KEY" android:value="AIzaSyAc2d32T94l5ADRFkZieP55qRQMzZWNLAk" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>